{% extends 'core/base.html' %}
{% load static %}
{% block title %}Páginas{% endblock %}
{% block content %}
{% include 'consultorio/includes/top_menu.html' %}
<main role="main">
  <div class="container mb-4">
    {% for paciente in paciente_list %}
      <div class="row mt-3">
        <div class="col-md-9 mx-auto">
          <h2 class="mb-4">{{paciente.name}}</h2>
          <div>
            <p>{{paciente.immediate_background|striptags|safe|truncatechars:"200"}}</p>
            <p><a href="{% url 'paciente' paciente.id paciente.name|slugify %}">Resumen Clínico</a>
              | <a href="{% url 'paciente' paciente.id paciente.name|slugify %}">Historia Clínica</a>
              <!--
              {% if request.user.is_staff %}
                | <a href="#">Editar</a>
                | <a href="#">Borrar</a>
              {% endif %}
              -->
            </p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</main>
{% endblock %}
